<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}">
    {% style "css/normalize.css" %}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    {% style "css/custom-style.css" %}
    {% if any page.klipse post.klipse %}
    <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/app.klipse.tech/css/codemirror.css">
    {% endif %}

    <!-- You MUST include jQuery before Fomantic -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/transition.js"></script>
    <script src="/js/visibility.js"></script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/js/index/lunr_index.js"></script>
    <script src="/js/lunrclient.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    {% script "js/scripts.js" %}
    <script>window.onload = start;</script>
    <script>
        $(document)
            .ready(function () {

                // fix main menu to page on passing
                $('.main.menu').visibility({
                    type: 'fixed'
                });
                $('.overlay').visibility({
                    type: 'fixed',
                    offset: 80
                });

                // lazy load images
                $('.image').visibility({
                    type: 'image',
                    transition: 'vertical flip in',
                    duration: 500
                });

                // show dropdown on hover
                $('.main.menu  .ui.dropdown').dropdown({
                    on: 'hover'
                });
            })
            ;
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VVN6DGJ2E6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-VVN6DGJ2E6');
    </script>
</head>

<body>
    <div class="content">
        <div class="ui main text center aligned container">
            <h1 class="ui header">
                <img class="ui middle aligned tiny image" src="/img/logos/ieugen-logo.svg">
                <a href="{{index-uri}}" class="header-title">
                    <code>{{title}}</code>
                </a>
            </h1>
        </div>

        <div class="ui secondary five item main menu">
            <div class="ui text container">
                <a href="{{index-uri}}" class="item">Home</a>
                <a href="{{index-uri}}pages/articles" class="item">Articles</a>
                <a href="{{index-uri}}pages/projects" class="item">Projects</a>
                <a href="{{index-uri}}pages/about" class="item">About</a>
                <a href="{{index-uri}}cv/en" class="ui item button" target="_blank"><i
                        class="external alternate small icon"></i>CV</a>
            </div>
        </div>
        <div class="ui main text container right aligned search-wrapper">
            <!--- Search from -->
            <form id="lunrSearchForm" name="lunrSearchForm" class="ui form" action="/pages/search">
                <div class="ui icon input">
                    <input class="search-input" name="q" placeholder="Search..." type="text">
                    <i class="search icon"></i>
                </div>
            </form>
            <div id="searchResults" class="ui cards"></div>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>

    <footer class="ui Site inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">Legal</h4>
                    <div class="ui inverted linked list">
                        <a class="item" href="{{index-uri}}pages/license">License</a>
                        <a class="item" href="{{index-uri}}pages/privacy-policy">Privacy Policy</a>
                        <a class="item" href="{{index-uri}}pages/about#contact">Contact</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">About</h4>
                    <div class="ui inverted linked list">
                        <a class="item" href="{{index-uri}}sitemap.xml" target="_blank">Sitemap</a>
                        <a class="item" href="{{index-uri}}pages/site-pages">Pages</a>
                        <a class="item" href="{{index-uri}}tags">Tags</a>
                        <a class="item" href="{{index-uri}}archives">Archive</a>
                        <a class="item" href="{{index-uri}}feed.xml" target="_blank">RSS <i
                                class="rss square icon"></i></a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Projects</h4>
                    <div class="ui inverted linked list">
                        <a href="{{index-uri}}pages/zetar" class="item">Zețar</a>
                        <a href="{{index-uri}}pages/lets-build-a-saas-app" class="item">Let's build a SaaS App</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Need my help? Contact me:</h4>
                    <p>
                        <a href="https://github.com/ieugen" target="_blank"><i class="large github icon"></i></a>
                        <a href="https://www.linkedin.com/in/ieugen" target="_blank"><i
                                class="large linkedin icon"></i></a>
                        <a href="https://gitlab.com/ieugen" target="_blank"><i class="large gitlab icon"></i></a>
                        <a href="https://twitter.com/ieugen222" target="_blank"><i class="large twitter icon"></i></a>
                        <a href="https://www.facebook.com/ieugen222" target="_blank"><i
                                class="large facebook icon"></i></a>
                        <a href="https://www.instagram.com/ieugen222" target="_blank"><i
                                class="large instagram icon"></i></a>
                    </p>
                    <p>I am looking for challanging projects.</p>
                    <p>Drop me a line and I will get back to you.</p>
                </div>
            </div>
        </div>
        <div class="ui horizaontal divider"></div>
        <div class="ui center aligned text container">
            <span>Copyright &copy; {{today|date:yyyy}} {{author}}</span>
            |
            <span>Powered by <a href="https://cryogenweb.org">Cryogen</a></span>
            |
            <span>Hosting by <a href="https://www.netlify.com/">Netlify</a></span>
        </div>
    </footer>
    </div>

    {% script "js/highlight.pack.js" %}
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    {% if any page.klipse post.klipse %}
    <script>
        window.klipse_settings = {
            selector: '.language-klipse-cljs',
            selector_eval_js: '.language-klipse-eval-js',
        };
    </script>
    <script src="https://storage.googleapis.com/app.klipse.tech/plugin/js/klipse_plugin.js"></script>
    <!-- <script src="https://storage.googleapis.com/app.klipse.tech/plugin_prod/js/klipse_plugin.min.js"></script> -->
    {% endif %}
    {% script "js/tag-cloud.js" %}
    <script type="text/javascript">
        anychart.onDocumentReady(function () {
            var data = [
                {% for tag in tags %}
        {{tag|json|safe}},
            {% endfor %}
];
        var new_data = [];
        var parse_tags_data = data.map(tag => {
            new_data.push({ "x": tag.name, "value": tag.count, "link": "https://ieugen.ro/"+tag.name });
            return new_data;
        });
        console.log("tyyyy", new_data);
        // create a tag (word) cloud chart
        var chart = anychart.tagCloud(new_data);
        chart.listen('pointClick', function (e) {
        if (e.point.get('link') != undefined) {
        window.open(e.point.get('link'));
         }
        });
        // set an array of angles at which the words will be laid out
        chart.angles([0, 90]);
        // enable a color range
        chart.colorRange(false);
        // display the word cloud chart
        chart.container("tag-cloud");
        chart.draw();
        });

    </script>
</body>

</html>
