{% extends "/html/base.html" %}
{% block content %}

<div class="ui main text container">
    <div class="ui items raised segment">
        <div class="item">
            <a class="ui small circular image">
                <img src="img/ieugen-image.jpg" alt="photo of me and the mountains">
            </a>
            <div class="content">
                <a class="header">Hi! I'm Eugen Stan.</a>
                <div class="description">
                    <p>I'm a software engineer building open-source projects and writing about programming.</p>
                    <p>I believe technology should serve people and I do my best to achieve that goal.</p>
                    <a class="ui icon right floated basic button" href="https://github.com/ieugen">
                        <i class="git alternate"></i>GitHub</a>
                    <!-- <button class="ui basic right floated button">Join Newsletter</button> -->
                    <a class="ui basic right floated button" href="{{index-uri}}pages/about">About me</a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="ui horizontal divider header">Recent posts</h3>
    <div class="ui relaxed divided list">
        {% for post in latest-posts %}
        <div class="item">
            <div class="image post-date-wrapper">{{post.date|date:"MMM dd":ro}}</div>
            <div class="content recent-post-title-wrapper">
                <a class="header" href="{{post.uri}}">{{post.title}}</a>
                <div class="description">
                    <i class="tags icon"></i>
                    {%for tag in post.tags %}
                    <a href="{{tag.uri}}">{{tag.name}}</a>
                    {% endfor%}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <h3 class="ui horizontal divider header">My Projects</h3>
    <div class="ui divided items">
        <div class="item">
            <div class="content">
                <h3 class="header">mbox-iterator</h3>
                <div class="meta">
                    <span class="description">Iterates over all messagees from an mbox file</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ieugen/mbox-iterator">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">Java</div>
                    <div class="ui label"><i class="star outline icon"></i> 6</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <h3 class="header">debian-handbook</h3>
                <div class="meta">
                    <span class="description">Debian Handbook - Romanian</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ieugen/debian-handbook">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">TeX</div>
                    <div class="ui label"><i class="star outline icon"></i> 5</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <h3 class="header">playCRM</h3>
                <div class="meta">
                    <span class="description">Simple CRM for a small car business using play framework</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ieugen/playCRM">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">Java</div>
                    <div class="ui label"><i class="star outline icon"></i> 4</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <h3 class="header">james-self-hosting-sandbox</h3>
                <div class="meta">  
                    <span class="description">A sample project to work on self hosting email server with Apache James</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ieugen/james-self-hosting-sandbox">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">Java</div>
                    <div class="ui label"><i class="star outline icon"></i> 3</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <h3 class="header">reactjs-universal-demo</h3>
                <div class="meta">  
                    <span class="description">Isomorphic/universal React code for Frontend Bucharest presentation</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ieugen/reacjs-universal-demo">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">JavaScript</div>
                    <div class="ui label"><i class="star outline icon"></i> 2</div>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <h3 class="header">ipc</h3>
                <div class="meta">  
                    <span class="description">Interpreto pentru pseudo-cod (Interpreter for pseudo-code)</span>
                </div>
                
                <div class="extra">
                    <a class="ui right floated basic mini button" href="https://github.com/ipc">
                       Source
                        <i class="right chevron icon"></i>
                    </a>
                    <div class="ui label">C</div>
                    <div class="ui label"><i class="star outline icon"></i> 1</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
