{% extends "/html/base.html" %}
{% block content %}

<div class="ui container">
    {% if latest-posts|not-empty %}
    <div id="recent">
        <h2>Recent Posts</h2>
        {% with p=latest-posts|first %}
            {% if p.title %}
                <h3><a href="{{p.uri}}">{{p.title}}</a></h3>
            {% endif %}
            {% if p.description %}
                <p class="excerpt">{{p.description}}</p>
            {% else %}
                <p>No description found</p>
            {% endif %}
        <h1>{{p.content}}</h1>
        {% endwith %}
        <div class="ui divider"></div>
        <ul class="posts-list">
            {% for post in latest-posts %}
            <li>
                <div class="post-wrapper">
                    <a href="{{post.uri}}">{{post.title}}</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}