<div class="post-header">
    <div id="post-meta" class="ui-grid">
        <div class="ui basic medium label">
            <i class="globe icon"></i> <div class="detail">{{post.lang}}</div>
        </div>
       - {{post.date|date:"dd MMM, yyyy":post.lang}}
        {% if post.lang %}
      
        {% endif %}
    </div>

</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
{% if post.tags|not-empty %}
<div id="post-tags">
    <b>Tags: </b>
    {% for tag in post.tags %}
    <a href="{{tag.uri}}">{{tag.name}}</a>
    {% endfor %}
</div>
{% endif %}
