<div class="post-header">
    <div id="post-meta" class="ui-grid">
        {{post.date|date:longDate}} -
        {% if post.lang %}
        <div class="ui basic tag medium label">
            <i class="language icon"></i> <div class="detail">{{post.lang}}</div>
        </div>
        {% endif %}
    </div>

</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
{% if post.tags|not-empty %}
<div id="post-tags">
    <b>Tags: </b>
    {% for tag in post.tags %}
    <a href="{{tag.uri}}">{{tag.name}}</a>
    {% endfor %}
</div>
{% endif %}
