{% extends "/html/base.html" %}
{% block content %}

<div class="ui main text container">
    <h1 class="ui dividing header">{{page.title}}</h1>

    {% if page.toc %}{{page.toc|safe}}{% endif %} {{page.content|safe}}
    <div class="ui two stackable cards">
        <div class="card">
            <div class="content">
                <div class="header">mbox-iterator</div>
                <div class="description">
                    <p>Iterates over all messagees from an mbox file</p>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    6
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/mbox-iterator">Source code</a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">debian-handbook</div>
                <div class="description">
                    <p>Debian Handbook - Romanian</p>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    5
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/debian-handbook">Source code</a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">playCRM</div>
                <div class="description">
                    <p>Simple CRM for a small car business using play framework</p>
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    4
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/playCRM">Source code</a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">james-self-hosting-sandbox</div>
                <div class="description">
                    A sample project to work on self hosting email server with Apache James
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    3
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/james-self-hosting-sandbox">Source
                        code</a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">reactjs-universal-demo</div>
                <div class="description">
                    Isomorphic/universal React code for Frontend Bucharest presentation
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    2
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/reactjs-universal-demo">Source
                        code</a>
                </span>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">ipc</div>
                <div class="description">
                    Interpreto pentru pseudo-cod (Interpreter for pseudo-code)
                </div>
            </div>
            <div class="extra content">
                <span class="left floated like">
                    <i class="star icon"></i>
                    1
                </span>
                <span class="right floated">
                    <a class="mini ui button" href="https://github.com/ieugen/ipc">Source
                        code</a>
                </span>
            </div>
        </div>

    </div>
</div>
</div>


</div>
{% endblock %}
