{% extends "/html/base.html" %}
{%block subtitle %}: Tags{% endblock %}
{% block content %}
<div class="ui main text container">
    <div class="ui segment borderless no-border mobile only">
        <div class="ui right rail space">
            <div id="tag-cloud"></div>
        </div>
    </div>
    <h1 class="ui dividing header">Tags</h1>
        <div class="ui list">
            {% for tag in tags %}
            <li><a href="{{tag.uri}}">{{tag.name}}</a> ({{tag.count}})</li>
            {% endfor %}
        </div>
</div>
{% endblock %}
