html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-size: 20px !important;
}

.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu .item img.logo {
  margin-right: 1.5em;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}

.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
  left: 800px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

div.paragraph p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}

.post-date-wrapper {
  white-space: nowrap;
  min-width: 60px;
  color: #b3b9c5;
  font-size: 14px;
  font-weight: 400;
}

.recent-post-title-wrapper {
  padding-left: 20px !important;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.about-me-img p span img {
  width: 100%;
}

.posts-list {
  padding: 15px;
}

#social ul li {
  list-style-type: none;
}

#social ul li p .icon {
  font-size: 18px;
}

#social ul li p a {
  margin-left: 10px;
}

a.post-tag {
  padding: 0 2px;
}

#tag-cloud {
  width: 400px;
  height: 200px;
  margin: 0;
  padding: 0;
}

.no-border {
  border: 0 !important;
  box-shadow: none !important;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.space {
  width: 400px;
  height: 300px;
}

.anychart-credits {
  display: none;
}

.search-wrapper {
  margin-top: 0 !important;
  margin-bottom: 40px;
}

#searchResults {
  margin-top: 5px;
  text-align: left;
}

@media only screen and (max-width: 767px) {
  #tag-cloud {
    display: none;
  }
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.post-header {
  margin-bottom: 10px;
}

div.paragraph p {
  font-size: 1.2rem;
}

/* Asciidoctor admonitions style */

.subheader, #content #toctitle, .admonitionblock td.content>.title, .exampleblock>.title, .imageblock>.title, .videoblock>.title, .listingblock>.title, .literalblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, .sidebarblock>.title, .tableblock>.title, .verseblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title, .tableblock>caption {
  line-height: 1.4;
  color: #7a2518;
  font-weight: 300;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.admonitionblock td.content>.title, .exampleblock>.title, .imageblock>.title, .videoblock>.title, .listingblock>.title, .literalblock>.title, .openblock>.title, .paragraph>.title, .quoteblock>.title, .sidebarblock>.title, .tableblock>.title, .verseblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title {
  text-align: left;
  font-weight: bold;
}

.admonitionblock>table {
  border: 0;
  background: none;
  width: 100%;
}

.admonitionblock>table td.icon {
  text-align: center;
  width: 80px;
}

.admonitionblock>table td.icon img {
  max-width: none;
}

.admonitionblock>table td.icon .title {
  font-weight: bold;
  text-transform: uppercase;
}

.admonitionblock>table td.content {
  padding-left: 1.125em;
  padding-right: 1.25em;
  border-left: 1px solid #dddddd;
  color: #6f6f6f;
}

.admonitionblock>table td.content> :last-child> :last-child {
  margin-bottom: 0;
}

.admonitionblock td.icon [class^="icon-"]:before {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default;
}

.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #005498;
  color: #003f72;
}

.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111;
}

.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900;
}

.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400;
}

.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000;
}

/* End of Asciidoctor admonitions style */
