/**
    https://fomantic-ui.com/examples/homepage.html
*/

/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya';
} */

body {
  color: #333;
  background-color: #f2f2f2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.right {
  float: right;
  text-align: right;
}

#content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
}

#content img {
  max-width: 100%;
  height: auto;
}

#post-tags {
  margin-top: 30px;
}

#prev-next {
  padding: 15px 0;
}

.post-header {
  margin-bottom: 20px;
}
.post-header h2 {
  font-size: 32px;
}

#post-meta {
  font-size: 14px;
  color: rgba(0,0,0,0.4)
}

#page-header {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 20px;
}
#page-header h2 {
  font-size: 32px;
}

pre {
  overflow-x: auto;
}
pre code {
  display: block;
  padding: 0.5em;
  overflow-wrap: normal;
  white-space: pre;
}

code {
  color: #428bca;
}

pre, code, .hljs {
  background-color: #f7f9fd;
}

@media (min-width: 768px) {
  .dropdown-menu>li>a {
      padding: 3px 20px;
  }
  #content{
      margin-top: 30px;
      padding: 50px 75px;
  }
}

@media (max-width: 767px) {
  body{
      font-size: 14px;
  }
  #content{
      padding: 15px;
  }
  #post-meta .right {
      float:left;
      text-align: left;
  }
}

/* Solution to have sticky footer https://github.com/Semantic-Org/Semantic-UI/issues/5955 */
.Site.pusher {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site.content {
  flex: 1;
}

/* Fomantic styles below */

.hidden.menu {
  display: none;
}

.under-construction.segment {
  min-height: 700px;
  padding: 1em 0em;
}

.under-construction h1.ui.header {
  margin-top: 3em;
  /* margin-bottom: 4em; */
  font-size: 4em;
  font-weight: normal;
}

.masthead.segment {
  min-height: 160px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  min-height: 50px;
  padding: 1em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.no-bottom-border.segment {
  border-bottom: none !important;
}

#main-site-following-menu {
  background-color: #ffffff;
}

/* For mobile divides */
@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .menu {
    display: none;
  }

  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 160px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
